<div class="title-container">
  <div class="titles">
    <h1>XYLOPHONE</h1>
    <h2>play me</h2>
  </div>
</div>
<div class="xylophone">
  <a class="key" (click)="emitNote(1)" style="background-color: red;"></a>
  <a class="key" (click)="emitNote(2)" style="background-color: orange;"></a>
  <a class="key" (click)="emitNote(3)" style="background-color: yellow;"></a>
  <a class="key" (click)="emitNote(4)" style="background-color: green;"></a>
  <a class="key" (click)="emitNote(5)" style="background-color: teal;"></a>
  <a class="key" (click)="emitNote(6)" style="background-color: blue;"></a>
  <a class="key" (click)="emitNote(7)" style="background-color: purple;"></a>
</div>
